<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/index.css">
        
    </head>
    <body id="dashboard-body">
        <!-- <h1>Dashboard</h1> -->
        <div id="dashboard-banner-img">
            <%- include("layouts/header") -%>
            <div id="banner" >
                <h2>Dashboard</h2>
                <p>DriveTest Booking Kiosk</p>
            </div>
        </div>
        <div id="firstmaindiv">
            <h3>
                You can book G2/G drive test from this Kiosk
            </h3>
            <p>
                You can book G2/G drive test from this Kiosk
            </p>
            <p>
                Posted by <span class="bold"> DriveTest Center </span>
            </p>
        </div>

        <div id="snackbar">Some text some message..</div>
        <script src="/js/common.js"></script>
    </body>
</html>